body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #22c55e;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  text-align: left;
  white-space: pre-line;
}

